<div class="page-meta">
  <a href="{{ site.repo }}/edit/{% if site.github_branch %}{{ site.github_branch }}{% else %}main{% endif %}/{{ page.path }}" target="_blank" rel="noopener">
    <i class="marker" aria-hidden="true"></i>Edit this page
  </a>
  <a href="{{ site.repo }}/issues/new?labels={% if page.editable %}{{ page.editable }}{% else %}question{% endif %}&title=Question:&body=Question on: {{ site.repo }}/tree/{% if site.github_branch %}{{ site.github_branch }}{% else %}main{% endif %}/{{ page.path }}" target="_blank" rel="noopener">
    <i class="marker" aria-hidden="true"></i>Create documentation issue
  </a>
  <a href="{{ site.repo }}/issues/new" target="_blank" rel="noopener">
    <i class="marker" aria-hidden="true"></i>Create project issue
  </a>
</div>
